<!-- app/views/job_offers/index.html.erb -->
<h1>Ofertas Laborales</h1>

<table class="table">
  <thead>
    <tr>
      <th>Título</th>
      <th>Descripción</th>
      <th>Publicado por:</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @job_offers.each do |job_offer| %>
      <tr>
        <td><%= job_offer.title %></td>
        <td><%= job_offer.description %></td>
        <td><%= job_offer.user.email %></td>
        <td>
          <%= link_to 'Ver', job_offer, class: "btn btn-primary" %>
          <% if user_signed_in? && !current_user.admin? %>
            <%= link_to "Postular", new_job_offer_job_application_path(job_offer), class: "btn btn-primary" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
