<div class="container">
  <div class="text-center">
    <% @job_offers.each do |job_offer| %>
      <div class="card mb-3">
        <div class="card-body">
          <% user = job_offer.user %>
          <% if user.photo.attached? %>
            <%= image_tag url_for(user.photo) %>
          <% end %>
          <h5 class="card-title"><%= job_offer.title %></h5>
          <p class="card-text"><%= job_offer.description %></p>
          
          <% if current_user && !current_user.admin? %>
            <%= link_to 'Postular', new_job_offer_job_application_path(job_offer), class: "btn btn-primary" %>
          <% end %>
          <%= link_to 'Ver', job_offer, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
