<h1>Nueva Oferta Laboral</h1>

<%= form_with(model: @job_offer, url: job_offers_path, class: "form") do |form| %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Crear Oferta Laboral", class: "btn btn-primary mt-3" %>
  </div>
<% end %>

<%= link_to 'Volver', job_offers_path, class: "btn btn-secondary mt-3" %>
